[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-chat = "*"
python-dotenv = "*"
langchain = "*"
openai = "*"
pypdf2 = "*"
tiktoken = "*"
pinecone-client = "*"
psycopg2-binary = "*"
colorama = "*"
google-search-results = "*"
streamlit-tree-select = "*"
streamlit-modal = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
