[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-chat = "*"
python-dotenv = "*"
langchain = "*"
openai = "*"
psycopg2 = "*"
redis = "*"
pypdf2 = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
